<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
      <!--begin::Sidebar Brand-->
      <div class="sidebar-brand">
            <!--begin::Brand Link-->
            <a href="/fitness-app/page/dashboard.html" class="brand-link">
                  <!--begin::Brand Image-->
                  <img
                          src="/fitness-app/img/AdminLTELogo.png"
                          alt="AdminLTE Logo"
                          class="brand-image opacity-75 shadow"
                  />
                  <!--end::Brand Image-->
                  <!--begin::Brand Text-->
                  <span class="brand-text fw-light">AdminLTE 4</span>
                  <!--end::Brand Text-->
            </a>
            <!--end::Brand Link-->
      </div>
      <!--end::Sidebar Brand-->
      <!--begin::Sidebar Wrapper-->
      <div class="sidebar-wrapper">
            <nav class="mt-2">
                  <ul class="nav sidebar-menu flex-column"
                      data-lte-toggle="treeview"
                      role="listbox"
                      aria-label="Main navigation"
                      data-accordion="false"
                      id="sidebar-menu">

                        <li class="nav-header">IDENTITY</li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/user.html" class="nav-link">
                                    <i class="nav-icon bi bi-download"></i>
                                    <p>User</p>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/lookup.html" class="nav-link">
                                    <i class="nav-icon bi bi-grip-horizontal"></i>
                                    <p>Lookup</p>
                              </a>
                        </li>

                        <li class="nav-header">MASTER</li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/user_preference.html" class="nav-link">
                                    <i class="nav-icon bi bi-star-half"></i>
                                    <p>User Preference</p>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/workout.html" class="nav-link">
                                    <i class="nav-icon bi bi-download"></i>
                                    <p>Workout</p>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/health_record.html" class="nav-link">
                                    <i class="nav-icon bi bi-grip-horizontal"></i>
                                    <p>Health Record</p>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/diet_record.html" class="nav-link">
                                    <i class="nav-icon bi bi-star-half"></i>
                                    <p>Diet Record</p>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a href="/fitness-app/page/goal.html" class="nav-link">
                                    <i class="nav-icon bi bi-star-half"></i>
                                    <p>Goal</p>
                              </a>
                        </li>
                  </ul>
                  <!--end::Sidebar Menu-->
            </nav>
      </div>
      <!--end::Sidebar Wrapper-->
</aside>
